<section class="content-area brightText" style="padding-bottom: 0px; padding-top: 70px; background: #3C4143">
  <div class="container">
    <header class="page-header text-center">
      <h3>When every second counts, Conceal Alert answers the call.</h3>

      <h4><span style="color:#ffe015; font-weight:bold;">Respond to local paramedic and law enforcment emergencies. <br> Visualize local concealed-carry laws. Know your rights. Avoid fines.</span></h3>

        <h4>We're lauching first in the State of Illinois. There are 26 off limits areas.<br>
          Insted of getting confused, sign up now to tell us where to update maps next.</h4>

        <h6><span style="#8c8e8f">GEOFENCING PRIORITY IS DETERMINED BY [1] USER SIZE & [2] FINANCIAL COMMITMENT</span></h6>

    </header>
</section>

<section class="content-layer brightText make-overflow" id="contact">
  <div class="row">
    <div class="col-md-3" style="margin-left: 4.1em;"></div>
    <div class="col-md-5">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <ul class="nav nav-pills nav-stacked">
          <li class="active" onclick="ChangeValue(this)">
            <%= f.radio_button :city," Chicago",:checked => true %>
            <a href="#tab1" data-toggle="tab">
              <div class="row" style="height:20px;">
                <div class="col-md-5"><span style="font-size:18px; font-weight:bold; color:#333;">CHICAGO, IL</span></div>
                <div class="col-md-7"><span style="font-size:10px; font-weight:bold;  color:#333; float:right;"><span style="color:#732013;">$<%= User.grep_users(" Chicago").sum("fair_price") == 0.0 ? 0 : User.grep_users(" Chicago").sum("fair_price")/User.grep_users(" Chicago").count %></span> AVERAGE MONTHLY PLEDGE</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><span style="font-size:10px; font-weight:bold; color:#333;">MAPPING IN PROGRESS</span></div>
                <div class="col-md-6"><span style="font-size:10px; font-weight:bold; color:#333; float:right;"><span style="color:#2e3192;"><%= User.grep_users(" Chicago").count %></span> USERS COMMITTED TO CITY</span></div>
              </div>
            </a>
          </li>
          <div class="contactForm">
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.email_field :email, :class=>"form-control", :placeholder => "Enter Email" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.autocomplete_field :city, autocomplete_city_city_users_path, :data => { :no_matches_label => 'Please enter cities from Illinois' }, :class=>"form-control" %>
  <%#= f.select :city,  options_for_select([["Select", ""]] +  City.select(:city).order(:city).uniq.map{|c| [c.city, c.city]},:selected => f.object.city), {}, :class=>"form-control"  %>
                  </div>
                </div>
              </div>
              <article class="table-content">
                <div class="col-md-6" style="padding:0;" >
                  <section class="table-row">
                    <div class="table-cell">
                      <%= f.text_field :fair_price, :class=>"form-control", :placeholder => "Enter price" %>
                      <label class="control-label"><span style="font-size:10px; color:#FFF;">FAIR PRICE PER MONTH</span></label>
                    </div>
                    <div class="table-cell" style="padding-bottom:22px;">
                      <span style="font-size:18px; margin-left:0.3em; color:#FFF;" class="widget-title">/MO.</span>
                    </div>
                  </section>
                </div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5" style="padding:0;">
                  <section class="table-row">
                    <div class="table-cell">
                      <%= f.text_field :one_time_donation,:class=>"form-control", :placeholder => "Enter price" %>
                      <label class="control-label"><span style="font-size:10px; color:#FFF;">Optional One-Time Donation To Boost City In Map Queue</span></label>
                    </div>
                  </section>
                </div>
              </article>
              <input type="submit" class="btn btn-primary" value="NEXT">
            </fieldset>
          </div>
          <% unless  @high_cities.blank?  %>
            <span style="font-size:10px; margin-left:7.5em; color:#999; font-weight:bold;">CLICK ON YOUR PREFERED CITY BELOW TO DONATE OR SELECT A NEW CITY</span>
          <% end %>
          <% i = 0 %>
          <% @high_cities.each do |hc|  %>
            <li onclick="ChangeValue(this)" style="text-transform: uppercase;">
              <%= f.radio_button :city, "#{hc.city}" %>
              <a href="#tab2" data-toggle="tab">
                <div class="row" style="height:20px;">
                  <div class="col-md-5"><span style="font-size:18px; font-weight:bold; color:#333;"><%= hc.city %>, IL</span></div>
                  <div class="col-md-7"><span style="font-size:10px; font-weight:bold;  color:#333; float:right;"><span style="color:#732013;">$<%= hc.avg_price %></span> AVERAGE MONTHLY PLEDGE</span></div>
                </div>
                <div class="row">
                  <div class="col-md-6"><span style="font-size:10px; font-weight:bold; color:#333;">#<%= i + 1 %> - GEOFENCE QUEUE</span></div>
                  <div class="col-md-6"><span style="font-size:10px; font-weight:bold; color:#333; float:right;"><span style="color:#2e3192;"><%= hc.users_count %></span> USERS COMMITTED TO CITY</span></div>
                </div>
              </a>
            </li>
            <% i = i + 1 %>
          <% end %>
        </ul>
      <% end %><br /><br />
    </div>
    <div class="col-md-4"></div>
  </div>
  <!-- / placeOver -->
</section>
<!-- / section -->
<style>
  input[type="radio"] {
    display: none;
  }
</style>